.html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  /* box-sizing: inherit; */
}

:root {
  --primary-text-color: #212121;
  --secondory-text-color: #757575;
  --text-title-color: #ffffff;
  --accent-color: #2196f3;
  --accent-shadow-color: rgba(0, 0, 0, 0.15);
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --top-line-bg-color: #ececec;
  --footer-bg-color: #2f303a;
  --box-project-color: #eeeeee;
  --box-klients-color: #afb1b8;
  --first-social-color: #afb1b8;
  --secondary-social-color: #ffffff;
  --background-social-color: #2196f3;
  --footer-social-color: rgba(255, 255, 255, 0.1);
  --footer-contact-color: color:  rgba(255, 255, 255, 0.6);
  --feature-bg-color: rgba(47, 48, 58, 0.8);
  --overlay-modal-color: rgba(0, 0, 0, 0.2);
  --project-bg-color: rgba(33, 150, 243, 0.9);
  --close-icon-color: #000000;
}

.page {
  margin: 0;
  padding-top: 80px;
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
}

.container {
  display: block;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* CSS для imdex.html */

/* Шапка сайта */

.page-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 80px;
  background-color: var(--primary-bg-color);
  z-index: 1;
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.logos {
  color: var(--accent-color);
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .lists:last-child {
  margin-right: 0;
}

.site-nav .lists + .lists {
  margin-left: 50px;
}

.link {
  position: relative;
}

.link.current-line::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.contacts {
  display: flex;
  position: relative;
  align-items: center;
  margin-left: auto;
}

.contacts .lists + .lists {
  margin-left: 50px;
}

.contacts .contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--secondory-text-color);
}

.email-icon,
.phone-icon {
  margin-right: 10px;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--secondory-text-color);
  padding: 32px 0px;

  transition: color fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact + .contact {
  margin-right: 10px;
}

.contacts .contact:hover,
.contacts .contact:focus {
  color: var(--accent-color);
}

.contact:hover .email-icon,
.contact:hover .phone-icon,
.contact:focus .email-icon,
.contact:focus .phone-icon {
  fill: var(--accent-color);
}

.page-header {
  border-bottom: 1px solid var(--top-line-bg-color);
}

/* Герой */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--footer-bg-color);
  color: var(--text-title-color);
}

.hero-img {
  position: relative;
  display: block;
  max-width: 1600px;
  min-height: 600px;
  margin-right: auto;
  margin-left: auto;
  background: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
}

.hero-title {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-title-color);
}

.button {
  display: inline-block;
  border-radius: 4px;
  border: transparent;
  padding: 10px 32px;

  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--text-title-color);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px var(--accent-shadow);
}

/* Особенности */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.box-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--secondary-bg-color);
  background-repeat: no-repeat;
  margin-bottom: 30px;
  border-radius: 4px;
}

.item-icon {
  width: 70px;
  height: 70px;
}

.title {
  margin-bottom: 10px;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondory-text-color);
}

.feature-list {
  display: flex;
}

.item {
  width: 270px;
}

.feature-list .item + .item {
  margin-left: 30px;
}

.feature-list .title {
  color: var(--primary-text-color);
}

.feature-list .text {
  color: var(--secondory-text-color);
}
/* Чем мы занимаемся */

.section-work {
  padding-bottom: 94px;
}

.work {
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-work .work {
  color: var(--primary-text-color);
}

.work-list {
  display: flex;
  justify-content: space-between;
}

.product-apps {
  position: relative;
}

.product-apps::before {
  position: absolute;
  content: "";
  width: 370px;
  height: 70px;
  bottom: 1%;
  background-color: var(--feature-bg-color);
}

.product-apps-text {
  position: absolute;
  bottom: -8%;
  right: 15%;
  width: 270px;
  height: 70px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-title-color);
}

/* Наша команда */

.user {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--secondary-bg-color);
}

.galery {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.galery-list {
  display: flex;
  justify-content: space-between;
}

.user .galery {
  color: var(--primary-text-color);
}

.galery-item {
  margin-left: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-bg-color);
}

.galery-item:nth-last-child(4n) {
  margin-left: 0;
}

.head {
  padding-top: 30px;
}

.headline {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.tagline {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondory-text-color);
}

.social-list {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 30px;
}

.social-item + .social-item {
  margin-left: 10px;
}

.social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--first-social-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  width: 20px;
  height: 20px;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--background-social-color);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--secondary-social-color);
}

/* Наши клиенты */

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients-list {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.clients-link {
  display: inline-flex;
  justify-content: center;
  padding: 16px 32px;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid var(--box-klients-color);
  fill: var(--box-klients-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link {
  margin-left: 30px;
}

.clients-link:last-child {
  margin-left: 0;
}

.clients-link:hover,
.clients-link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* Подвал */

.footer-menu {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bg-color);
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  color: var(--text-title-color);
}

.address-item {
  margin-bottom: 9px;
}

.address-list {
  margin-right: 70px;
}

.footer-address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-social-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact {
  margin-bottom: 60px;

  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--first-social-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list .footer-address:focus,
.address-list .footer-address:hover {
  color: var(--accent-color);
}

.address-list .footer-contact:focus,
.address-list .footer-contact:hover {
  color: var(--accent-color);
}

.footer {
  display: flex;
}

.aside {
  display: block;
  padding-top: 12px;
  margin-right: 93px;
}

.aside-title,
.middle-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-title-color);
}

.aside-list {
  display: flex;
  padding-top: 16px;
}

.aside-item + .aside-item {
  margin-left: 10px;
}

.aside-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: var(--secondary-social-color);
  background-color: var(--footer-social-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.aside-icon {
  width: 20px;
  height: 20px;
}

.aside-link:hover,
.aside-link:focus {
  background-color: var(--background-social-color);
}

.aside-link:hover .aside-icon,
.aside-link:focus .aside-icon {
  fill: var(--secondary-social-color);
}

.middle-title {
  padding-top: 12px;
  margin-bottom: 20px;
}

.button-middle {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px 62px 10px 29px;
}

.button-middle {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.85;
  border-radius: 4px;
  border: transparent;
  letter-spacing: 0.06em;
  color: var(--text-title-color);
  background-color: var(--accent-color);
  position: relative;
  width: 200px;
  height: 50px;
  margin-right: 10px;
  box-sizing: border-box;
}

.middle-field {
  display: flex;
}

.middle-submit {
  position: relative;
}

.middle-icon {
  position: absolute;
  right: 28px;
  top: 50%;
  transform: translateY(-50%);
}

.middle-input {
  font-size: 16px;
  line-height: 20px;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  border-radius: 5px;
  outline: none;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) border 250ms
    cubic-bezier(0.4, 0, 0.2, 1) filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* CSS для portfolio.html */

/* Кнопки */

.buttons {
  padding-top: 94px;
  padding-bottom: 94px;
}

.buttons-title-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.button-items {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-items .button-item + .button-item {
  margin-left: 8px;
}

.button.primery {
  padding: 6px 22px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) background-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primery {
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
}

.button.primery:hover,
.button.primery:focus {
  color: var(--text-title-color);
  background-color: var(--accent-color);
}

.button-item:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Наши работы */

.project-list {
  display: flex;
  flex-wrap: wrap;
}

.project-item {
  position: relative;
  width: 370px;
  border: 1px solid var(--box-project-color);
  margin-right: 30px;
  margin-bottom: 30px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-after-item {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.project-item:nth-child(3n) {
  margin-right: 0;
}

.project-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project-solution {
  position: relative;
  overflow: hidden;
}

.project-text {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--text-title-color);
  background-color: var(--background-social-color);
  height: 294px;
  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.project-solution:hover .project-text {
  transform: translateY(0);
}

.caption {
  margin-bottom: 9px;

  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  font-style: normal;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.lead {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--secondory-text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--overlay-modal-color);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 581px;
  min-width: 528px;
  padding: 40px;
  border-radius: 4px;
  background-color: var(--primary-bg-color);

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.85;
  padding: 10px 55px 10px 56px;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  border: transparent;
  letter-spacing: 0.06em;
  color: var(--text-title-color);
  background-color: var(--accent-color);
  margin-left: 130px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-link {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  fill: var(--close-icon-color);
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
  width: 18px;
  height: 18px;
}

.close-link:hover .close-icon {
  fill: var(--accent-color);
}

.modal-title {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-field {
  margin-bottom: 10px;
}

.modal-label {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: #757575;
}

.input-wrapper {
  position: relative;
}

.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal-input,
.modal-text {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background-color: transparent;
  padding-left: 42px;
  padding-right: 20px;

  transition: border color 250ms cubic-bezier(0.4, 0, 0.2, 1) fill 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  height: 100px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  padding-left: 16px;
  resize: none;
}

.modal-icon {
  position: absolute;
  left: 15px;
  top: 20px;
  transform: translateY(-50%);
}

.modal-check-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  color: #757575;
}

.check-icon {
  position: absolute;
  fill: transparent;
}

.policy {
  margin-bottom: 40px;
}

.modal-check-text {
  padding-left: 20px;
}

.modal-check-text span {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  width: 15px;
  height: 15px;
  border: 2px solid #303030;
  border-radius: 2px;
  margin-right: 5px;

  display: inline-flex;
  align-items: centcenter;
  justify-content: center;
  color: #757575;
}

.check-policy {
  text-decoration: underline;
  color: var(--accent-color);
}

.modal-check:checked + .modal-check-text span {
  background-color: var(--accent-color);
  border: none;
}

.modal-check:checked + .modal-check-text svg {
  fill: #ffffff;
}
