.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.box-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--secondary-bg-color);
  background-repeat: no-repeat;
  margin-bottom: 30px;
  border-radius: 4px;
}

.item-icon {
  width: 70px;
  height: 70px;
}

.title {
  margin-bottom: 10px;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondory-text-color);
}

.feature-list {
  display: flex;
}

.item {
  width: 270px;
}

.feature-list .item + .item {
  margin-left: 30px;
}

.feature-list .title {
  color: var(--primary-text-color);
}

.feature-list .text {
  color: var(--secondory-text-color);
}
