.work {
  padding-bottom: 94px;
}

.work__title {
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.work .work__title {
  color: var(--primary-text-color);
}

.work__list {
  display: flex;
  justify-content: space-between;
}

.work__apps {
  position: relative;
}

.work__apps::before {
  position: absolute;
  content: "";
  width: 370px;
  height: 70px;
  bottom: 0;
  background-color: var(--feature-bg-color);
}

.work__apps-text {
  position: absolute;
  bottom: -8%;
  right: 15%;
  width: 270px;
  height: 70px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-title-color);
}
