.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  color: var(--text-title-color);
}
